/*********************************************************
element and cross-page styling
**********************************************************/
*{
  box-sizing: border-box;
}

body {
  background: rgb(113, 194, 194);
  font-family: 'Orbitron', sans-serif;
  color: white
}

a {
  text-decoration: none;
  color: white;
}


/*********************************************************
landing screen styling
**********************************************************/


.ribbon{
  display: inline-block;
  margin: auto;
  background: yellow;
  position: absolute;
  z-index: -1;
  transform: rotateZ(160deg);
  background: rgb(143, 249, 245);
  width: 20%;
  height: 300%;
  overflow: hidden;
  top:-80%;
  left: 20%;
}

.memory-name {
  text-align: justify;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 4em;
  margin: 4% 8% 0% 8.5%;
}

.game-description{
  display: block;
  margin: 4% 8% 5% 16%;
}

.enter-boxes {
  display: block;
  font-size: 1.5em;
  /*border: 2px solid white;*/
  border-radius: .3em;
  margin: 0% 8% 0% 14%;
}

.boxNum{
  display: block;
  margin: 0% 8% 0% 18.5%;
}
.submit{
    margin: 6% 8% 0% 23.5%;
}

/*********************************************************
game screen styling (index.html)
**********************************************************/

/****header****/


.timer {
  float: right;
  margin: 3% 15% 0 0;
}
.timer-finished{
  display: none;
  float: right;
  margin: 3% 15% 0 0;
}
.lives {
  display: inline-block;
  margin: 3% 0 0 15%;
}

/****game body****/


.game-body {
  margin: 5% 15%;
  position: relative;
  /*margin: auto;*/
}

.game-body span {
  position: relative;
  float: left;
  overflow: hidden;
}

.card {
  width: 10em;
  height: 10em;
  background: steelblue;
  display: block;
  transition: background 1s, -webkit-transform 1s;
  border-radius: .4em;
  border: 1px solid darkblue;
  margin: 3px;
  color: rgba(255,255,255,0);
  text-align: center;
  padding-top: 5%;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px darkblue;
}

/****click functions****/

.fliparoo {
  background: powderblue;
  -webkit-transform: rotateY(180deg);
}

.game-icon {
  color:rgba(255,255,255,1);
  transition-delay: .5s;
}

.match-card{
  background: limegreen;
  -webkit-transform: rotateY(180deg);
  box-shadow: 2px 2px 2px 2px darkblue;
}

.match-icon{
  color:rgba(255,255,255,1);
}

.not-matched{
  width: 10em;
  height: 10em;
  background: steelblue;
  display: block;
  transition: background 1s, -webkit-transform 1s;
  border-radius: .4em;
  border: 1px solid darkblue;
  margin: 3px;
  color: rgba(255,255,255,0);
  text-align: center;
  padding-top: 5%;
}

/*********************************************************
modal styling
**********************************************************/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-container.showing {
  display: block;
}

.modal {
  position: fixed;
  top: 10em;
  left: 36em;
  bottom: 30em;
  right: 36em;
  background: rgb(113, 194, 194);
  border: 1px solid #AAA;
  padding: 2em;
  color: white;
  font-family:  sans-serif;
}
.modal h1 {
  margin-left: 31%;
}
.modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 2em;
  background: #EEE;
  border: 1px solid #AAA;
}

.refresh-page {
  position: absolute;
  top: 80%;
  right: 38%;
  background: white;
  border: 1px solid black;

}

/*********************************************************
footer
**********************************************************/


.return-to-menu {
  display: none;
  text-align: center;
  font-size: 2em;
  /*border: 2px solid white;*/
  margin: 50px 15% 20px 15%;
  padding: 10px 10px 5px 10px;
  background: rgb(113, 194, 194);
  border-radius: .3em;
}



.return-to-menu:hover {
  -webkit-transition-property: background;
  background: rgb(143, 249, 245);
  box-shadow: 2px 2px 2px 2px steelblue;


}


/*********************************************************
clearfix (experimental-prolly not relevant)
**********************************************************/


.group:after {
  content: "";
  display: table;
  clear: both;
}


/*********************************************************
media queries
**********************************************************/
/*
@media (max-width: 1420px) {
  .game-body{
    width: 2000px;
  }
}

@media (min-width: 1620px) {
  .margin-fix {
    margin: 2% 0 0 15%;
  }
}

@media (min-width: 1620px) {
  .margin-fix-2 {
    margin: 2% 0 0 23%;
  }
}*/



/*********************************************************

**********************************************************/
