/*********************************************************
element and cross-page styling
**********************************************************/
body {
  background: blue;
  font-family: 'Orbitron', sans-serif;
  color: white
}

a {
  text-decoration: none;
}

header {
}

input {
  width: 8em;
  height: 8em;
  display: none;
}

.memory-name {
  text-align: justify;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 4em;
}

.fa {
  color: white;
}

/*********************************************************
new-game page styling
**********************************************************/

.choice-menu {
  display: inline-block;
  margin: 10% 0 0 40%;
}


.new-game-text {
  display: inline-block;
  margin: 0 0 0 40px;
  padding: 40px 0 0 0;
  text-align: center;
  font-family: "orbitron", sans-serif;
  color: white;
  font-size: 2em;
}

.easy-mode-box {
  text-align: center;
  font-family: "orbitron", sans-serif;
  color: white;
  font-size: 2em;
  border: 2px solid white;
  margin: 50px 0 0 20px;
  padding: 10px 0;
  background: blue;
}

.hard-mode-box {
  text-align: center;
  font-family: "orbitron", sans-serif;
  color: white;
  font-size: 2em;
  border: 2px solid white;
  margin: 20px 0 0 20px;
  padding: 10px 0;
  background: blue;
}

.easy-mode-box:hover {
  -webkit-transition-property: background;
  background: lightcoral;
}

.hard-mode-box:hover {
  -webkit-transition-property: background;
  background: lightcoral;
}


/*********************************************************
easy mode page styling (index.html)
**********************************************************/

/****header****/

.easy-mode-header {
  display: block;
  margin: 0 0 0 40%;
}

.heart-row {
  display: inline-block;
  margin: 0 0 0 5%;
}

.heart-row ul {
  display: inline;
}

.heart-row li {
  display: inline-block;
}

.timer {
  float: right;
  margin: 0 5% 0 0;
}

/****game body****/
.game-body {
  margin: 5% 0 0 15.5%;
  width: 1000px;
}

.card-row-1 li {
  display: inline-block;
}

.card-row-2 li {
  display: inline-block;
}

.card-row-3 li {
  display: inline-block;
}

.card {
  width: 10em;
  height: 10em;
  background: steelblue;
  display: block;
  transition: background 1s, -webkit-transform 1s;
  border-radius: .4em;
}

input:checked +.card {
  background: lightcoral;
  -webkit-transform: rotateY(180deg);
}











/*********************************************************

**********************************************************/
